@font-face {
	font-family: "Kimberley";
	src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

body{
	background: url("../assets/bg.gif");
	cursor: url(../assets/cursor.gif), auto;
	text-align: center;
	font-family: "Kimberley", sans-serif
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-top: 5px;
}
