body{
	background: url("../assets/bg.gif");
	cursor: url(../assets/cursor.gif), auto;
    text-align: center;
    font-family: Comic Sans MS;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
}
